 /* .logo {
     /* background-color: brown; */


 .logo img {
     width: 130px;
     /* height: 23px; */

 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .right ul {
     display: flex;
     gap: 34px;
 }

 .right ul li {
     list-style: none;
     display: flex;
     align-items: center;
 }

 .end {
     width: 2px;
 }

 .first {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 23px;
     margin: 70px;
     font-family: sans-serif;
     font-size: 24px;

 }
 .first span{
   font-size: 40px;


 }

 section span img{
    width: 70px;
    margin: 0 23px;
 }

 .first p{
    font-size: 17px;
    width: 44vw;
    text-align: center;
 }
 .flex{
    display: flex;
 }
 
.small{
    font-size: 12px;
}
.second{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* max-width: 50vw; */
    margin: auto; 
}




 
 .btn {
    background-color: #00b6d1;
    padding: 12px 16px ;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    margin: 12px;
    cursor: pointer;
 }
 .green{
    background-color: #5cb85c;
 }
 .item{
    padding: 23x;
    background-color: #0a08080f;
    text-align: center;
    /* align-items: center; */
    border-radius: 10px;
    font-size: 20px;
    padding-bottom: 20px;
  margin-top: 10px;
  padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

 }
 .item-lang{
     font-weight: 700;
     text-align: center;
     padding-bottom: 36px;

 }
 .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px; 
 }
.download :nth-child(2){
    font-size: 23px;
    
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}
@media screen and (max-width: 1145px){
.grid{
    display: grid;
    background-color: rgb(7, 153, 153);
    grid-template-columns: 1fr ;
    gap: 12px; 
  
} 
}
    
.btn a{
    text-decoration: none;
    color: white;
}